{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
        {folsom, ".*", {git, "git://github.com/boundary/folsom.git", "HEAD"}},
        {cowboy, "0.8.6", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.6"}}}
       ]}.