{erl_opts, [debug_info, 
            fail_on_warning, 
            warnings_as_errors,
            {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
        {riak_ensemble, ".*", {git, "git://github.com/basho/riak_ensemble.git", {branch, "develop"}}}
       ]}.