{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [
		{locks, ".*", {git, "git://github.com/uwiger/locks.git", "HEAD"}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
        {folsom, ".*", {git, "git://github.com/boundary/folsom.git", "HEAD"}}
       ]}.